$def with(direccion)

<h1>Editar Direccion</h1>

$if direccion == {}:
    <div class="alert alert-danger" role="alert">
        Ups, Direccion no encontrado<br>
        <a href="/lista_contactos"><button type="button" class="btn btn-primary">Regresar</button></a>
    </div>
$else:
    <form method="POST">
        <div class="mb-3">
            <input type="hidden" class="form-control" readonly id="id_direccion" name="id_direccion" value="$direccion['id_direccion']">
        </div>

        <div class="mb-3">
            <input type="hidden" class="form-control" id="id_contacto" name="id_contacto" value="$direccion['id_contacto']">
        </div>

        <div class="mb-3">
            <label class="form-label" for="pais">Pais:</label>
            <input type="text" class="form-control" id="pais" name="pais" value="$direccion['pais']">
        </div>

        <div class="mb-3">
            <label class="form-label" for="estado">Estado:</label>
            <input type="text" class="form-control" id="estado" name="estado" value="$direccion['estado']">
        </div>

        <div class="mb-3">
            <label class="form-label" for="ciudad">Ciudad:</label>
            <input type="text" class="form-control" id="ciudad" name="ciudad" value="$direccion['ciudad']">
        </div>

        <div class="mb-3">
            <label class="form-label" for="colonia">Colonia:</label>
            <input type="text" class="form-control" id="colonia" name="colonia" value="$direccion['colonia']">
        </div>

        <div class="mb-3">
            <label class="form-label" for="calle">Calle:</label>
            <input type="text" class="form-control" id="calle" name="calle" value="$direccion['calle']">
        </div>

        <div class="mb-3">
            <label class="form-label" for="numero_exterior">Numero exterior:</label>
            <input type="text" class="form-control" id="numero_exterior" name="numero_exterior" value="$direccion['numero_exterior']">
        </div>
        <div class="mb-3">
             <a href="/ver_contacto/$direccion['id_contacto']"><button type="button" class="btn btn-primary">Regresar</button></a>
            <button name="editar" value="editar" class="btn btn-primary">Editar</button>
        </div>
    </form>
